.body {
    font-family: 'Rubik', sans-serif;
}

.header {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.logo-adalab {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 155px;
}
.nav ul li {
    display: inline;
    font-family: 'Rubik', sans-serif;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
}
a{
    color: #4a4a4a;
}
.nav ul li a {
    text-decoration: none;
    padding: 20px;
    padding-bottom: 13px;
}
ul {
    padding: 0;
}
.hero {
    width: 100%;
    height: 500px;
    background: #3CDBC0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    
}
.title{
    text-align: center;
    color: #FFFFFF;
    font-family: 'Rubik', sans-serif;
    font-size: 30px;
    margin: 0;
}